html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #e9e9e9;
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}

h1 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 500;
}

button.check {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100px;
  white-space: nowrap;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  background: #7eb530;
  color: white;
  border-color: #7eb530;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 25px;
  font-family: inherit;
  min-width: 150px;
}

.power-text {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
  color: #555555;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  /* other */
  margin-top: 8px;
  display: block;
}

.power-text:focus {
  background-color: #DDDDFF;
  outline: none !important;
  /* border:1px solid #FFFFFF; */
  box-shadow: 0 0 10px #719ECE;
}

.inter-text {
  color: #333;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  text-align: left;
}

.inter-text p{
	display: inline;
	cursor: pointer;
}

.inter-text p:hover{
	text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;
}

.comment {
  background: #fff;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  word-break: break-word;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
  outline: none;
  display: inline-block;
}

.cours-frame {
  color: #FFF;
  background-color: #5fba7d;
  text-align: center;
  border-radius: 4px;
  outline: none;
  display: inline;
  padding: 8px;
  text-decoration: none;
  border: none;
  margin-top: 5px;
}

ul.popup {
  width: 210px;
  top: 47px;
  right: 0px;
  left: auto;
  display: block;
  padding: 20px;
  list-style-type: none;
}

.popup:after {
  height: 0;
  width: 0;
  position: absolute;
  top: -19px;
  right: 30px;
  left: auto;
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  display: block;
}

input.login {
  width: 100%;
  display: block;
  border: 2px solid #ebebeb;
  background: #fff;
  font: 500 15px/22px "museo-sans-rounded", sans-serif;
  padding: 2px 10px;
  color: #4b4b4b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-font-smoothing: antialiased;
  text-align: left;
  line-height: 24px;
}

span.nobr {
  white-space: nowrap;
}

input.regular {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}

.regular:focus {
  border-color: #1e9ce6;
  outline: 0;
}

input.dotted {
  border-bottom: 2px dotted;
}

input.send {
  width: 260px;
  line-height: 43px;
  font-size: 19px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  background: #E86850;
}

input:focus{
	outline:0;
}

button:focus{
	outline:0;
}

.request {
  border-radius: 7px;
  width: 270px;
  line-height: 43px;
  font-size: 19px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #587498;
}

.request-sent {
  border-radius: 7px;
  width: 270px;
  line-height: 43px;
  font-size: 19px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  /* background: #587498; */
  background-color: #6B78B4;
}

.log_in {
  background: #fff;
  color: #4b7aa4;
  border-color: #fff;
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 100px;
  white-space: nowrap;
  line-height: 20px;
  font-weight: 700;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: #0b4176;
}

.register {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 230px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.register-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}

.register-input:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.menu_button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50px;
  white-space: nowrap;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  padding: 10px 0px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  width: 230px;
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
}

.register-button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100px;
  white-space: nowrap;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 25px;
  background: #1caff6;
  color: #fff;
  border-color: #1caff6;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.register-switch {
  height: 32px;
  margin-bottom: 15px;
  padding: 4px;
  background: #6db244;
  border-radius: 100px;
  background: #f6724c
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 100px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

nav ul {
  overflow-y: scroll;
  overflow: hidden;
  height: 454px;
}

nav ul::-webkit-scrollbar {
  display: none;
}

.messages {
  list-style-type: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.message {
  color: #FFF;
  text-align: center;
  border-radius: 4px;
  outline: none;
  display: inline;
  padding: 8px;
  border: none;
  margin-top: 5px;
  clear: both;
  position: relative;
}

.message2 {
  margin: 0.2em 0;
  max-width: 80%;
  min-width: 50%;
  color: #FFF;
  float: left;
  padding: 1em;
  display: inline;
  clear: both;
  position: relative;
  text-align: left;
}

.left {
  float: left;
  background-color: #94C2ED;
  border-radius: 0 1em 1em 0;
}

.right {
  float: right;
  background-color: #86BB71;
  border-radius: 1em 0 0 1em;
}

#sendmessage {
  height: 60px;
  border-top: 1px solid #e7ebee;
  position: absolute;
  bottom: 7px;
  width: 350px;
  background: #fff;
  text-align: left;
}

#sendmessage input {
  border
}

#sendmessage input {
  background: #fff;
  margin: 21px 0 0 21px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #aab8c2;
}

#sendmessage input:focus {
  outline: 0;
}

#sendmessage button {
  background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 23px;
  border: none;
}

#sendmessage button:hover {
  cursor: pointer;
  background-position: 0 0;
}

#sendmessage button:focus {
  outline: 0;
}
